* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--background-color);
}


:root {
    --white: white;
    --black: black;
    --border: #ffffff80;
    --red: #ff3d58;
    --clock-color: #ffffffe6;
    --toptext: #ccc;
}

body.light-mode {
    --white: black;
    --black: white;
    --border: #00000080;
    --red: #ff3d58;
    --clock-color: #000000ab;
    --placeholder: #ffffffb2;
    --toptext: #333;
    background-image: url(../assets/background-light.png);
    color: var(--black);
}

body.light-mode .clock {
    box-shadow: 0 0 10px var(--border);
}

body.light-mode input::placeholder {
    color: var(--placeholder);
}


body {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    background-image: url(../assets/backgoundimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0 10%;
    gap: 15px;
}

.container {
    position: relative;
    text-align: center;
}

.search-bar {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
    background-color: var(--clock-color);
    border-radius: 5px;
    text-transform: capitalize;
    outline: none;
    text-align: center;
    font-weight: 600;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    padding: 30px 0;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--clock-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--index)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--black);
    z-index: 2;
}

.toptext {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8rem;
    color: var(--toptext);
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    width: 4px;
    border-radius: 8px;
}

.hour-hand i {
    background-color: var(--black);
    height: 67px;
}

.minute-hand i {
    background-color: var(--black);
    height: 100px;
}

.second-hand i {
    background-color: var(--red);
    height: 94px;
}

.location {
    font-size: 1.3rem;
    color: var(--clock-color);
}

#light-mode-toggle {
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#light-mode-toggle i {
    color: var(--clock-color);
}

.fa-moon,
.fa-sun {
    width: 1rem;
    height: 1rem;
}

.scroll-button {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 1000;
    background-color: var(--clock-color);
    color: var(--background-color);
    border: none;
    border-radius: 50%;
    display: none;
}

.scroll-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scroll-top {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#scroll-bottom {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1000px) {
    body {
        grid-template-columns: 1fr;
        padding: 0 10%;
    }

    .clock-wrapper:first-child {
        padding-top: 150px;
    }

    .clock {
        width: 250px;
        height: 250px;
    }

    .clock-wrapper {
        gap: 20px;
        height: 100vh;
    }
}